@charset "utf-8";

@font-face {
  font-family: CodenameCoderFree4F;
  src: url(fonts/CodenameCoderFree4F-Bold.ttf);
}

html {
  height: 100%;
}

body {
  /*font-family: "CodenameCoderFree4F", Helvetica, sans-serif;*/
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  background-color:#fff;
  color:#000;
  min-height: 100%;
  overflow-x: hidden;
}

body::scrollbar {
  display: none;
}

body::-webkit-scrollbar {
  display: none;
}
